<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Samuel Barbosa</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="main.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>

    <body> 
        <div id="app">

<div class="banner" id="boxes">
    <h3>Olá,<br> meu nome é <br><span>Samuel Barbosa</span></h3>
    <h4>/* Desenvolvedor Web / Web Designer */</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum vestibulum massa nec consequat. Vestibulum nec vestibulum ante, eu dignissim sem. Etiam ullamcorper auctor arcu, non hendrerit augue hendrerit sit amet. </p>
    <div class="containerphoto"> 
       <div class="contain"> <div class="photo"></div></div>
        <div class="icons"><ul>
            <li><img src="icongit.png">Github</li>
            <li><img src="iconinsta.png">Instagram</li>
            
            
          </ul></div>
</div>
   
    

</div>

<div class="wrapper" id="boxes">
            <div class="container">
                <h3 class="header">Projetos</h3>    
                            <card
                            v-for="card in cardProjects"
                            v-bind:card="card"
                            v-bind:key="card.id"
                            v-bind:title="card.title"
                            v-bind:describe="card.describe"
                            v-bind:tecno = "card.tecno"
                            v-bind:link = "card.link"
                            v-bind:page ="card.page"
                            ></card> 
                </div>

                <div class="container">
                    <h3 class="header">Blog</h3>
                <card
                            v-for="card in cardBlog"
                             v-bind:card="card"
                            v-bind:key="card.id"
                            v-bind:title="card.title"
                            v-bind:describe="card.describe"
                            v-bind:tecno = "card.tecno"
                            v-bind:link = "card.link"
                            v-bind:page ="card.page"
                ></card> 
            </div>
</div>
<footer>Designed and developed by me<br>@MrSamwell</footer>
</div>


    <script src="main.js"></script>    
    </body>
</html>