html, body{
    height: 100%;
    margin:0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: #151515;
    color: #F3F2F0;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    margin-left: 30px;

}

.card{
   
    box-sizing:border-box;
    background-color: rgb(255, 255, 255, 0.03);
    width: auto;
    height: 150px;
    margin: -10px 32px;
    padding:0 14px;
    line-height: 1em;
    border-radius: 2px;
   
}

.card:hover{
   
    margin: -10px 12px -10px 42px;
    transition: 0.7s;
    border-left: 10px solid  rgb(255, 255, 255, 0.2);
    
}


.card h5{
    font-size: 12px;
    line-height: 0em;
    position: relative;
    top: 20px;
    opacity: 0.6;
}
.card a:hover{
    font-size: 15px;
    transition: 0.5s;
}

.card h3{
    font-size: 24px;
    line-height: 0em;
    position: relative;
    top: 16px;
}

.card p{
    font-size: 15px;
    position: relative;
    top: 15px;
    opacity: 0.6;
    line-height: 1.2em;
    height: 40px;
}
.linkgit{
    font-size: 14px;
    position: relative;
    bottom: -20px;
    text-emphasis: none;
    text-decoration: none;
    color:#F3F2F0
}

a{
    text-emphasis: none;
    text-decoration: none;
    color: #F3F2F0;
}

.container{
    
    margin-bottom: 64px;
    
    
}

footer{
    
    text-align: center;
    margin: auto auto;
    padding: 50px;
    opacity: 0.3;
}

.banner{
    box-sizing: border-box;
    height: 300px;
    width: auto;
    margin: 64px 32px;
    text-align: center;
    
}

.banner h3 {
    font-size: 30px;
    text-align: justify;
    margin: auto 32px;
    margin-bottom: 10px;
}
.banner h3 span{
    background-color: #F3F2F0;
    color: #151515;
    
}


.banner h4{
    opacity: 0.3;
    margin-top: 0;
    font-weight: 100;

}

.banner .photo{
    margin:  auto 32px;
    height: 100px;
    width: 100px;
    background-color: #F3F2F0;
    border-radius: 50%;
    
    
}

.banner p {
    
    text-align: center;
    margin: 32px 32px;
    opacity: 0.7;
   
}
.banner b {
    color:#F3F2F0;
    opacity: 1;
}

.smicon{
    background-color: #F3F2F0;
    height: 50px;
    width: 50px;
    float: right;
    
}

.photobox{
    margin-top: 50px
}

.photobox ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    float: right;
    position: relative;
    top: -135px;
    right: 100px;
    text-align: justify;
}

.photobox ul li div{
    height: 50px;
    width: 50px;
    background-color: #F3F2F0;
    position: relative;
    top: 30px;
    right: 70px;
    border-radius: 50%;
    margin: 0px;
}
.photobox ul li{
    position: relative;
    left: 65px;
}

